
---
- name: Install nginx
  apt:
    name: nginx
    state: present

- name: Copy nginx config
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/sites-available/default
    mode: 0644

- name: Ensure nginx is running
  service:
    name: nginx
    state: started
    enabled: yes


---
